<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resourcerer: Community Currated Resources</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
